doctype html
html
  head
    title Chat cifrado GG
    link(rel='stylesheet',href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css')
    link(rel='stylesheet', href='css/style.css')
  body
    .panel.panel-primary(style="border:0px")
    .panel-heading.top-bar.row
        .col-md-8.col-xs-8
          h3.panel-title
              span.glyphicon.glyphicon-comment(style="margin-right:6px;")='Usuario: '+user
        .col
        .col-2
          button#exit.btn Cerrar sesión
    #msgs.panel-body.msg_container_base
        chat_log
    .panel-footer
        form
            .row
              .col-2
                label.h5(for='msg',autocomplete='off') Escribe tu mensaje:
              .col
                input.form-control#msg(type='text', name='msg', placeholder='Mensaje')
                |
                input#user(type='hidden', name='user', value=''+user)
              .col-2
                input.btn(type='submit', name='send', value="Enviar mensaje")

    script(src='/socket.io/socket.io.js')
    script(src='https://code.jquery.com/jquery-3.2.1.min.js', integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=', crossorigin='anonymous')
    script(src='js/logic.js')
